In [1]:
import numpy as np
import pandas as pd
from random import randrange
import dateutil

path = "C:/Users/Willi/OneDrive/Documents/t-drive/select"

df = pd.read_csv(path + '/' + '3015.txt', index_col=1, delimiter=',', header=None, parse_dates=True)
df.rename(columns={0: 'id', 1: 'date', 2: 'lat', 3: 'lon'}, inplace=True)
df.index.names = ['date']
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145812 entries, 2008-02-02 13:30:44 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      145812 non-null  int64
 1   lat     145812 non-null  float64
 2   lon     145812 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.4 MB

                       id        lat       lon
date
2008-02-02 13:30:44  3015  116.41036  39.89171
2008-02-02 13:30:45  3015  116.41028  39.89170
2008-02-02 13:30:46  3015  116.41022  39.89170
2008-02-02 13:30:51  3015  116.41009  39.89172
2008-02-02 13:30:52  3015  116.41009  39.89173

In [3]:
groups = [group[1] for group in df.groupby(df.index.date)]

In [4]:
len(groups)

7

In [5]:
counter = 10000
for group in groups:
    group.id = group.id + counter
    counter = counter + 10000
    diff = group.index[0] - dateutil.parser.parse('2008-02-02 08:00:0' + str(randrange(10)))
    group.index = group.index - diff

In [6]:
groups

[                        id        lat       lon
 date
 2008-02-02 08:00:07  13015  116.41036  39.89171
 2008-02-02 08:00:08  13015  116.41028  39.89170
 2008-02-02 08:00:09  13015  116.41022  39.89170
 2008-02-02 08:00:14  13015  116.41009  39.89172
 2008-02-02 08:00:15  13015  116.41009  39.89173
 ...                    ...        ...       ...
 2008-02-02 18:29:09  13015  116.33291  39.91270
 2008-02-02 18:29:10  13015  116.33291  39.91270
 2008-02-02 18:29:11  13015  116.33291  39.91270
 2008-02-02 18:29:12  13015  116.33291  39.91271
 2008-02-02 18:29:13  13015  116.33291  39.91271

 [8624 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:07  23015  116.33682  39.91268
 2008-02-02 08:00:24  23015  116.33707  39.91274
 2008-02-02 08:00:24  23015  116.33707  39.91274
 2008-02-02 08:00:30  23015  116.33761  39.91270
 2008-02-02 08:00:31  23015  116.33773  39.91270
 ...                    ...        ...       ...
 2008-02-03 07:59:30  23015  116.62580  39.92582
 2008-02-03 07:59:31  23015  116.62598  39.92582
 2008-02-03 07:59:32  23015  116.62616  39.92582
 2008-02-03 07:59:33  23015  116.62634  39.92581
 2008-02-03 07:59:34  23015  116.62651  39.92581

 [24851 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:01  33015  116.62685  39.92580
 2008-02-02 08:00:03  33015  116.62719  39.92580
 2008-02-02 08:00:05  33015  116.62753  39.92579
 2008-02-02 08:00:07  33015  116.62786  39.92579
 2008-02-02 08:00:16  33015  116.62928  39.92577
 ...                    ...        ...       ...
 2008-02-03 07:52:56  33015  116.42669  39.83714
 2008-02-03 07:53:36  33015  116.42669  39.83707
 2008-02-03 07:53:48  33015  116.42670  39.83708
 2008-02-03 07:53:49  33015  116.42670  39.83708
 2008-02-03 07:53:54  33015  116.42671  39.83709

 [22465 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:08  43015  116.42674  39.83711
 2008-02-02 08:00:49  43015  116.42670  39.83705
 2008-02-02 08:01:00  43015  116.42652  39.83685
 2008-02-02 08:01:00  43015  116.42652  39.83685
 2008-02-02 08:01:01  43015  116.42649  39.83681
 ...                    ...        ...       ...
 2008-02-03 07:46:54  43015  116.40521  39.94773
 2008-02-03 07:46:54  43015  116.40521  39.94773
 2008-02-03 07:46:58  43015  116.40452  39.94771
 2008-02-03 07:47:00  43015  116.40415  39.94769
 2008-02-03 07:50:14  43015  116.36373  39.94684

 [22020 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:08  53015  116.34899  39.94096
 2008-02-02 08:00:08  53015  116.34899  39.94096
 2008-02-02 08:00:19  53015  116.34901  39.93993
 2008-02-02 08:00:20  53015  116.34900  39.93983
 2008-02-02 08:00:26  53015  116.34866  39.93934
 ...                    ...        ...       ...
 2008-02-03 07:57:48  53015  116.46688  39.92876
 2008-02-03 07:57:49  53015  116.46689  39.92876
 2008-02-03 07:57:50  53015  116.46689  39.92876
 2008-02-03 07:57:51  53015  116.46689  39.92876
 2008-02-03 07:58:24  53015  116.46689  39.92878

 [21677 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:06  63015  116.46666  39.92944
 2008-02-02 08:00:48  63015  116.47141  39.92972
 2008-02-02 08:00:59  63015  116.47188  39.92972
 2008-02-02 08:01:03  63015  116.47187  39.92971
 2008-02-02 08:01:06  63015  116.47186  39.92971
 ...                    ...        ...       ...
 2008-02-03 07:50:47  63015  116.45443  39.91308
 2008-02-03 07:52:08  63015  116.44746  39.91396
 2008-02-03 07:53:28  63015  116.44543  39.91438
 2008-02-03 07:56:26  63015  116.44445  39.91452
 2008-02-03 07:57:20  63015  116.44429  39.91456

 [22952 rows x 3 columns],
                         id        lat       lon
 date
 2008-02-02 08:00:03  73015  116.44434  39.91453
 2008-02-02 08:00:03  73015  116.44434  39.91453
 2008-02-02 08:01:24  73015  116.44436  39.91461
 2008-02-02 08:14:27  73015  116.44444  39.91467
 2008-02-02 08:14:28  73015  116.44442  39.91468
 ...                    ...        ...       ...
 2008-02-03 01:39:05  73015  116.40854  39.89968
 2008-02-03 01:39:06  73015  116.40843  39.89968
 2008-02-03 01:39:07  73015  116.40831  39.89968
 2008-02-03 01:39:08  73015  116.40818  39.89967
 2008-02-03 01:39:09  73015  116.40806  39.89967

 [23223 rows x 3 columns]]

In [7]:
final_df = groups.pop().reset_index()

for group in groups:
    final_df = pd.concat([final_df,group.reset_index()])

In [8]:
final_df.sort_values(by=['date'], inplace=True)
final_df = final_df.reset_index()

In [9]:
final_df.drop(['index'], axis=1, inplace=True)

In [10]:
final_df.to_csv('P-3015.csv')

In [14]:
a = pd.read_csv('raw_data/P-3015.csv', index_col=1, delimiter=',', parse_dates=True)
b = pd.read_csv('raw_data/P-6275.csv', index_col=1, delimiter=',', parse_dates=True)
c = pd.concat([a,b])
c.sort_values(by=['date'], inplace=True)
c.reset_index(inplace=True)
c = c.drop(columns=['index','inde'])
c.to_csv('../producer/data/P-TEST.csv')

In [34]:
from os import listdir
from os.path import isfile, join

onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

for file in onlyfiles:
    df = pd.read_csv(path + '/' + file, index_col=1, delimiter=',', header=None, parse_dates=True)
    df.rename(columns={0: 'id', 1: 'date', 2: 'lat', 3: 'lon'}, inplace=True)
    df.index.names = ['date']
    df.info()
    groups = [group[1] for group in df.groupby(df.index.date)]

    counter = 10000
    for group in groups:
        group.id = group.id + counter
        counter = counter + 10000
        diff = group.index[0] - dateutil.parser.parse('2008-02-02 08:00:0' + str(randrange(10)))
        group.index = group.index - diff

        final_df = groups.pop().reset_index()

        for group in groups:
            final_df = pd.concat([final_df,group.reset_index()])

        final_df.sort_values(by=['date'], inplace=True)
        final_df = final_df.reset_index(drop=True)
        #final_df.drop(columns=df.columns[0], axis=1, inplace=True)
        #final_df.drop(['index'], axis=1, inplace=True)
        final_df.to_csv("raw_data/P-"+file, index=False)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 94939 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      94939 non-null  int64
 1   lat     94939 non-null  float64
 2   lon     94939 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 88055 entries, 2008-02-02 13:30:49 to 2008-02-08 17:38:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      88055 non-null  int64
 1   lat     88055 non-null  float64
 2   lon     88055 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21366 entries, 2008-02-02 13:39:41 to 2008-02-08 17:33:54
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      21366 non-null  int64
 1   lat     21366 non-null  float64
 2   lon     21366 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 667.7 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20249 entries, 2008-02-02 13:31:06 to 2008-02-08 16:40:14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20249 non-null  int64
 1   lat     20249 non-null  float64
 2   lon     20249 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 632.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52939 entries, 2008-02-02 13:47:30 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      52939 non-null  int64
 1   lat     52939 non-null  float64
 2   lon     52939 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98464 entries, 2008-02-02 13:30:51 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      98464 non-null  int64
 1   lat     98464 non-null  float64
 2   lon     98464 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86029 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      86029 non-null  int64
 1   lat     86029 non-null  float64
 2   lon     86029 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145812 entries, 2008-02-02 13:30:44 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      145812 non-null  int64
 1   lat     145812 non-null  float64
 2   lon     145812 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121667 entries, 2008-02-02 20:05:38 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      121667 non-null  int64
 1   lat     121667 non-null  float64
 2   lon     121667 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 101843 entries, 2008-02-02 13:30:44 to 2008-02-08 14:28:07
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      101843 non-null  int64
 1   lat     101843 non-null  float64
 2   lon     101843 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 99494 entries, 2008-02-02 13:30:48 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      99494 non-null  int64
 1   lat     99494 non-null  float64
 2   lon     99494 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 61466 entries, 2008-02-02 15:57:56 to 2008-02-08 16:43:32
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      61466 non-null  int64
 1   lat     61466 non-null  float64
 2   lon     61466 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36773 entries, 2008-02-02 13:30:48 to 2008-02-08 17:39:09
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      36773 non-null  int64
 1   lat     36773 non-null  float64
 2   lon     36773 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 37810 entries, 2008-02-02 13:38:36 to 2008-02-08 17:33:30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      37810 non-null  int64
 1   lat     37810 non-null  float64
 2   lon     37810 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 92136 entries, 2008-02-02 13:30:52 to 2008-02-08 17:39:12
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      92136 non-null  int64
 1   lat     92136 non-null  float64
 2   lon     92136 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41459 entries, 2008-02-02 13:40:53 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      41459 non-null  int64
 1   lat     41459 non-null  float64
 2   lon     41459 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74483 entries, 2008-02-02 13:30:50 to 2008-02-08 17:39:16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      74483 non-null  int64
 1   lat     74483 non-null  float64
 2   lon     74483 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.3 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64917 entries, 2008-02-02 13:37:24 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      64917 non-null  int64
 1   lat     64917 non-null  float64
 2   lon     64917 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34108 entries, 2008-02-02 13:31:06 to 2008-02-08 17:39:06
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      34108 non-null  int64
 1   lat     34108 non-null  float64
 2   lon     34108 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93823 entries, 2008-02-02 13:30:48 to 2008-02-08 16:55:57
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      93823 non-null  int64
 1   lat     93823 non-null  float64
 2   lon     93823 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45038 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      45038 non-null  int64
 1   lat     45038 non-null  float64
 2   lon     45038 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 154688 entries, 2008-02-02 13:30:44 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      154688 non-null  int64
 1   lat     154688 non-null  float64
 2   lon     154688 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 57426 entries, 2008-02-02 13:38:10 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      57426 non-null  int64
 1   lat     57426 non-null  float64
 2   lon     57426 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85751 entries, 2008-02-02 13:30:51 to 2008-02-08 17:31:25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      85751 non-null  int64
 1   lat     85751 non-null  float64
 2   lon     85751 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 46566 entries, 2008-02-02 13:48:19 to 2008-02-08 14:10:37
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46566 non-null  int64
 1   lat     46566 non-null  float64
 2   lon     46566 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96257 entries, 2008-02-02 13:30:50 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      96257 non-null  int64
 1   lat     96257 non-null  float64
 2   lon     96257 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22721 entries, 2008-02-05 14:41:25 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      22721 non-null  int64
 1   lat     22721 non-null  float64
 2   lon     22721 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 710.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19999 entries, 2008-02-02 13:33:47 to 2008-02-08 17:38:16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19999 non-null  int64
 1   lat     19999 non-null  float64
 2   lon     19999 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 625.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31741 entries, 2008-02-02 13:30:47 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31741 non-null  int64
 1   lat     31741 non-null  float64
 2   lon     31741 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 991.9 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30554 entries, 2008-02-02 13:36:19 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      30554 non-null  int64
 1   lat     30554 non-null  float64
 2   lon     30554 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 954.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41314 entries, 2008-02-02 16:43:33 to 2008-02-08 16:45:43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      41314 non-null  int64
 1   lat     41314 non-null  float64
 2   lon     41314 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98631 entries, 2008-02-02 13:30:48 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      98631 non-null  int64
 1   lat     98631 non-null  float64
 2   lon     98631 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45000 entries, 2008-02-02 13:30:53 to 2008-02-08 17:39:11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      45000 non-null  int64
 1   lat     45000 non-null  float64
 2   lon     45000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84274 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      84274 non-null  int64
 1   lat     84274 non-null  float64
 2   lon     84274 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34644 entries, 2008-02-02 13:35:39 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      34644 non-null  int64
 1   lat     34644 non-null  float64
 2   lon     34644 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96402 entries, 2008-02-02 13:30:47 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      96402 non-null  int64
 1   lat     96402 non-null  float64
 2   lon     96402 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 77554 entries, 2008-02-02 13:30:58 to 2008-02-08 17:39:16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      77554 non-null  int64
 1   lat     77554 non-null  float64
 2   lon     77554 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25979 entries, 2008-02-02 13:30:49 to 2008-02-08 17:31:04
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      25979 non-null  int64
 1   lat     25979 non-null  float64
 2   lon     25979 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 811.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55287 entries, 2008-02-02 17:02:27 to 2008-02-08 17:09:45
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      55287 non-null  int64
 1   lat     55287 non-null  float64
 2   lon     55287 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.7 MB

In [10]:
from os import listdir
from os.path import isfile, join


raw_path = 'C:/Users/Willi/PycharmProjects/taxi/source/raw_data'
to_merge = [f for f in listdir(raw_path) if isfile(join(raw_path, f))]

with open('../producer/data/P-TEST.csv', 'w') as outfile:
    for fname in to_merge:
        with open(raw_path+'/'+fname) as infile:
            for line in infile:
                outfile.write(line)

In [11]:
cur = '../producer/data/P-TEST.csv'
b = pd.read_csv(cur, delimiter=',', parse_dates=True)
b.reset_index()
b.sort_values(by=['date'], inplace=True)
b.to_csv("../producer/data/P-TEST-d.csv")