In [2]:
from os import listdir
from os.path import isfile, join
import pandas as pd
from random import randrange
import dateutil

path = "C:/Users/Willi/OneDrive/Documents/t-drive/select"

onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

for file in onlyfiles:
    df = pd.read_csv(path + '/' + file, index_col=1, delimiter=',', header=None, parse_dates=True)
    df.rename(columns={0: 'id', 1: 'date', 2: 'lat', 3: 'lon'}, inplace=True)
    df.index.names = ['date']
    df.info()
    groups = [group[1] for group in df.groupby(df.index.date)]

    counter = 10000
    for group in groups:
        group.id = group.id + counter
        counter = counter + 10000
        diff = group.index[0] - dateutil.parser.parse('2008-02-02 08:00:0' + str(randrange(10)))
        group.index = group.index - diff

    final_df = groups.pop().reset_index()
    for group in groups:
        final_df = pd.concat([final_df,group.reset_index()])

    final_df.sort_values(by=['date'], inplace=True)
    final_df = final_df.reset_index(drop=True)
    #final_df.drop(columns=df.columns[0], axis=1, inplace=True)
    #final_df.drop(['index'], axis=1, inplace=True)
    final_df.to_csv("raw_data/P-"+file, index=False)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 94939 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      94939 non-null  int64
 1   lat     94939 non-null  float64
 2   lon     94939 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 88055 entries, 2008-02-02 13:30:49 to 2008-02-08 17:38:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      88055 non-null  int64
 1   lat     88055 non-null  float64
 2   lon     88055 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98464 entries, 2008-02-02 13:30:51 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      98464 non-null  int64
 1   lat     98464 non-null  float64
 2   lon     98464 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86029 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      86029 non-null  int64
 1   lat     86029 non-null  float64
 2   lon     86029 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145812 entries, 2008-02-02 13:30:44 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      145812 non-null  int64
 1   lat     145812 non-null  float64
 2   lon     145812 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.4 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121667 entries, 2008-02-02 20:05:38 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      121667 non-null  int64
 1   lat     121667 non-null  float64
 2   lon     121667 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 101843 entries, 2008-02-02 13:30:44 to 2008-02-08 14:28:07
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      101843 non-null  int64
 1   lat     101843 non-null  float64
 2   lon     101843 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 99494 entries, 2008-02-02 13:30:48 to 2008-02-08 17:39:17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      99494 non-null  int64
 1   lat     99494 non-null  float64
 2   lon     99494 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 92136 entries, 2008-02-02 13:30:52 to 2008-02-08 17:39:12
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      92136 non-null  int64
 1   lat     92136 non-null  float64
 2   lon     92136 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74483 entries, 2008-02-02 13:30:50 to 2008-02-08 17:39:16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      74483 non-null  int64
 1   lat     74483 non-null  float64
 2   lon     74483 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.3 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64917 entries, 2008-02-02 13:37:24 to 2008-02-08 17:39:19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      64917 non-null  int64
 1   lat     64917 non-null  float64
 2   lon     64917 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93823 entries, 2008-02-02 13:30:48 to 2008-02-08 16:55:57
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      93823 non-null  int64
 1   lat     93823 non-null  float64
 2   lon     93823 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 154688 entries, 2008-02-02 13:30:44 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      154688 non-null  int64
 1   lat     154688 non-null  float64
 2   lon     154688 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 4.7 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85751 entries, 2008-02-02 13:30:51 to 2008-02-08 17:31:25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      85751 non-null  int64
 1   lat     85751 non-null  float64
 2   lon     85751 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96257 entries, 2008-02-02 13:30:50 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      96257 non-null  int64
 1   lat     96257 non-null  float64
 2   lon     96257 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98631 entries, 2008-02-02 13:30:48 to 2008-02-08 17:39:15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      98631 non-null  int64
 1   lat     98631 non-null  float64
 2   lon     98631 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84274 entries, 2008-02-02 13:30:49 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      84274 non-null  int64
 1   lat     84274 non-null  float64
 2   lon     84274 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96402 entries, 2008-02-02 13:30:47 to 2008-02-08 17:39:18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      96402 non-null  int64
 1   lat     96402 non-null  float64
 2   lon     96402 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 77554 entries, 2008-02-02 13:30:58 to 2008-02-08 17:39:16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      77554 non-null  int64
 1   lat     77554 non-null  float64
 2   lon     77554 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 2.4 MB

In [3]:
from os import listdir
from os.path import isfile, join


raw_path = 'C:/Users/Willi/PycharmProjects/taxi/source/raw_data'
to_merge = [f for f in listdir(raw_path) if isfile(join(raw_path, f))]

with open('../producer/data/P-TEST.csv', 'w') as outfile:
    for fname in to_merge:
        with open(raw_path+'/'+fname) as infile:
            for line in infile:
                outfile.write(line)

In [4]:
cur = '../producer/data/P-TEST.csv'
b = pd.read_csv(cur, delimiter=',', parse_dates=True,low_memory=False )
b.reset_index()
b.sort_values(by=['date'], inplace=True)
b.to_csv("../producer/data/P-TEST-d.csv")

C:\Users\Willi\AppData\Local\Temp\ipykernel_2972\2440907263.py:2: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  b = pd.read_csv(cur, delimiter=',', parse_dates=True)

In [3]:
from datetime import datetime
datetime.fromtimestamp(1664909241010/1000).strftime("%H:%M:%S")

'20:47:21'